<%- include("../partials/header") %>

<div class="row">
	<div class="col">
		<h2>Travel Agencies:
		<% if(currentUser && currentUser.isAdmin) { %>
		<span class="pull-right">
			<a href="/travelagencies/new" class="btn btn-success"><i class="fas fa-plus"></i>&nbsp Add a New Travel Agency</a>
		</span></h2>
		<% } %>
		<hr>
		<% traAg.forEach(function(traAg){%>
		<div class="col-md-4 col-sm-6 col-xs-12 text-center">
			<div class="thumbnail">
				<img src= "<%= traAg.image %>" style="height: 230px">
				<div class="caption">
					<h4><%= traAg.name %></h4>
				</div>
				<div>
					<p>
						<a href="/travelagencies/<%= traAg._id %>/contact" class="btn btn-primary modify">Contact</a>
					</p>
				</div>
				<% if(currentUser && currentUser.isAdmin) { %>
				<div style="padding-bottom:10px">
					<span>
						<a href="/travelagencies/<%= traAg._id %>/edit" class="btn btn-warning btn-sm modify">Edit</a>
					</span>&nbsp;
					<span>
						<form class="delete-form" action="/travelagencies/<%= traAg._id %>?_method=DELETE" method="POST">
							<button class="btn btn-danger btn-sm modify">Delete</button>
						</form>
					</span>
				</div>
				<% } %>
			</div>
		</div>
		<% }) %>
	</div>
</div>

<%- include("../partials/footer") %>